#menu-toggle {
  padding: 0px 47px 0px 19px;
}

.fa-search {
  padding: 0 15px 0 0;
}

.bg-light {
  background-color: #37aaf9 !important;
  color: #fff;
  position: absolute;
  left: 10%;
  width: 90%;

}

.navbar {
  padding: 0;
}

i {
  color: #fff;
}

.dropdown-toggle::after {
  color: #fff;
}

.fa {
  font-size: 25px;
}

ul li a {
  padding: 29px 30px 29px 30px;
  border-right: 1px solid #537edc;
}

#menu-toggle {
  padding: 29px 30px 29px 30px;
  border-right: 1px solid #537edc;
}

.search_bar {
  padding: 0 0 0 35px;
}

.navbar span {
  font-size: 18px;
}
