<!-- Sidebar -->
<div id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><img src="assets/images/sign.png/" alt="" class="sign_img "> </div>
    <div>
      <img src="assets/images/sidebar_img.png/" alt="" class="sidebar_img">
    </div>
    <div class="list-group list-group-flush">
        <button routerLink="/app/dashboard" class="tooltip-col text-center active" mat-raised-button><i class="fa fa-desktop" aria-hidden="true"></i>
          <span class="tooltiptext">Dashboard</span>
        </button>
        <button class="tooltip-col text-center" mat-raised-button><i class="fa fa-pencil" aria-hidden="true"></i>
          <span class="tooltiptext">Shortcuts</span>
        </button>
        <button class="tooltip-col text-center" mat-raised-button><i class="fa fa-tags" aria-hidden="true"></i>
          <span class="tooltiptext">Overview</span>
        </button>
        <button routerLink="/app/my-account" class="tooltip-col text-center" mat-raised-button><i class="fa fa-user" aria-hidden="true"></i>
          <span class="tooltiptext">My Accounts</span>
        </button>
        <button routerLink="/app/message-center" class="tooltip-col text-center" mat-raised-button><i class="fa fa-calendar" aria-hidden="true"></i>
          <span class="tooltiptext">Message</span>
        </button>
        <button class="tooltip-col text-center" mat-raised-button><i class="fa fa-info-circle" aria-hidden="true"></i>
          <span class="tooltiptext">Status</span>
        </button>
    </div>
  </div>
</div>
<!-- /#sidebar-wrapper -->
